section h2{
  color: white;
  font-size: 50px;
}

.text-box {
  font-size: 25px;
  /* letter-spacing: 7px;
  word-spacing: 12px; */
  text-align: left;
  color:rgb(238, 238, 238);
}

.para{
  font-size: 25px;
}

section .text-container .text-box{
  background: transparent;
  margin: 30px 0px;
}

html, body, section {
  block-size: 100%;
}


.carousel{
width: 100%;
}

.carousel-inner {
width: 100%;
height:min-content;
}

.carousel-inner h5 {
color: white;
font-size: 30px;
font-weight: 600;
}

.carousel-indicators button {
margin: 15px auto;
}

.caorusel-item img.testi-imgs {
width: 90%;
border-radius: 5px;
margin: auto;
background-position-x: center ;
}


.carousel-indicators{
margin-bottom: 10px !important;
}

.carousel-item{
  /* float:right; */
  left:10%;
}
.carousel-control-next, .carousel-control-prev{
  top:10%;
}

.carousel-caption{
  left:-5%;   
}

.carousel-item img {
  width: 80%;
  height:550px;
  border-radius: 24px;
  object-fit: cover;
  text-align: center;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.425);
  margin: 5px;
  padding: 5px;
  left: 12%;
}

@media (max-width:700px){
  section h2{
    font-size: 30px;
  }

  .para{
    font-size: 18px;
  }
  .carousel-item img {
    width:fit-content;
    height:300px;
  }

  .carousel-item{
    left:0%;   
  }
  /* .carousel-control-next, .carousel-control-prev{ 
    background-color:  black;
  } */
}  